.button {
    background-color: rgb(175, 46, 207);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.button:hover{
    background-color: rgb(199, 57, 235) ;
}